body {
    margin: 0 auto;
    min-height: 100%;
}

#container {
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.bg-green {
    background-image: url(img/bg-green.png);
    height: 100vh;
}

.bg-blue {
    background-image: url(img/bg-blue.png);
    height: 100vh;
}

.bg-red {
    background-image: url(img/bg-red.png);
    height: 100vh;
}

.bg-icons-area {
    height: 50px;
    width: 200px;
    display: block;
    position: fixed;
    bottom: 20px;
    left: 20px; 
}

.counter-area {
    height: 50px;
    width: 200px;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px; 
}

.bg-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: solid 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
	-moz-box-shadow: 2px 3px 0px 0px rgba(44, 41, 41, 0.5);
	-webkit-box-shadow: 2px 3px 0px 0px rgba(138, 138, 138, 0.5);
}

.bg-button:active {
    position: relative;
    top: 2px;
    left: 1px;
}

#bg-green-button {
    background-image: url(img/bg-green-icon.png);
}

#bg-blue-button {
    background-image: url(img/bg-blue-icon.png);
}

#bg-red-button {
    background-image: url(img/bg-red-icon.png);
}

.title {
    padding: 20px 0px;
    font-size: 4em;
    margin: 0 auto; 
    font-family: 'Sancreek';
    text-shadow:0px 2px 0px #3b211f
}

.card-face {
    width: 7%;
    margin: 20px 10px;
    border-radius: 10px; 
    -webkit-box-shadow: 10px 10px 20px 0px rgba(37,61,33,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(37,61,33,0.75);
    box-shadow: 10px 10px 20px 0px rgba(37,61,33,0.75);
}

.text-area {
    font-family: 'Sancreek';
    font-size: 1.2em;
    display: block;
}

#status-text-area {
    margin: 0px; 
    font-size: 25px; 
    font-family: 'Sancreek';
    font-weight: bold;
    display: block;
    height: 30px;
    text-shadow:0px 1px 0px #3b211f;
}

#buttons-area {
    padding: 10px 0px; 
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
    display:inline-block;
    width: 10%;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.2em;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3b211f;
}

.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}

.button:active {
	position:relative;
    top:2px;
    left: 1px;
}

#new-game-button {
    animation: pulse-back 0.75s ease-in-out infinite both;
}

@keyframes pulse-back {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
}